:root {
    --heading-font-size: 32px;
    --description-font-size: 16px;
    --padding-of-sections-tb: 40px;
    --padding-of-sections-lr: 16px;
}
.nav-section{
    padding: var(--padding-of-sections-lr) 0;
    /* background-color: aqua; */
}
.nav-container{
    padding: 0 16px;
}
.nav-icons ul{
    display: none;
}
.nav-section .logo img{
    width: 76px;
}
.nav-section .burger-menu{
    display: inline-block;
}
.nav-section .nav-links {
    display: none;
}

.hero-section{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: var(--padding-of-sections-tb) var(--padding-of-sections-lr) 0;
}

.hero-section-heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 28px;
}

.hero-section h1{
    /* width: 260px; */
    padding: 0 40px var(--padding-of-sections-lr);
    font-size: var(--heading-font-size);
}
.hero-section p{
    font-size: var(--description-font-size);
    line-height: 18px;
}
.glow-effect-1{
    position: absolute;
    width: 226px;
    height: 226px;
    left: -133px;
    top: 35%;
    background: #62C5FF;
    opacity: 0.5;
    filter: blur(84.5666px);
}
.hero-section-banner{
    width: 343px;
}
.hero-img{
    padding: 0 7px 0 24px;
    width: 100%;
    z-index: 3;
}
.dots-1, .dots-2{
    width: 90px;
}
.dots-1{
    top: 3%;
    right: 5%;
}
.dots-2{
    transform: rotate(90deg);
    bottom:23%;
    right: 80%;
    z-index: -1;
}
.heroImg-1{
    width: 105px;
    top: 10%;
    left: 20%;
    z-index: -2;
}
.heroImg-2{
    width: 110px;
    right: 3%;
    bottom: 7%;
    z-index: -1;
}

.crossline{
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, rgba(240, 247, 251, 0) 0%, #F0F7FB 100%);
}